/* line 122, ../dwsass/dw.scss */
body {
  background: #403e4c repeat;
}

/* line 126, ../dwsass/dw.scss */
img {
  max-width: 100%;
}

/* line 134, ../dwsass/dw.scss */
.navbar-default {
  background-color: #282730;
  border-bottom: 2px solid #111014;
}

/* line 140, ../dwsass/dw.scss */
.navbar-nav > li > a {
  color: white !important;
}
/* line 144, ../dwsass/dw.scss */
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: white !important;
  background-color: #19181e!important;
}
/* line 152, ../dwsass/dw.scss */
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: white !important;
  background-color: #111014 !important;
}
/* line 160, ../dwsass/dw.scss */
.navbar-nav > .disabled > a, .navbar-nav > .disabled > a:hover, .navbar-nav > .disabled > a:focus {
  color: white !important;
  background-color: #111014 !important;
}

/* line 167, ../dwsass/dw.scss */
.navbar-toggle {
  border: inherit;
}
/* line 170, ../dwsass/dw.scss */
.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: inherit!important;
}

/* line 178, ../dwsass/dw.scss */
.navbar-default
.navbar-collapse,
.navbar-default
.navbar-form {
  border-color: inherit!important;
}

/* line 186, ../dwsass/dw.scss */
section {
  max-width: 100%;
  width: 100%;
}

/* line 191, ../dwsass/dw.scss */
#headerdw {
  -moz-box-sizing: border-box;
  background: url("../img/escheresque_ste.png") repeat;
  color: white;
  font-size: 24px;
  font-weight: 400;
  height: 600px;
  overflow: hidden;
  padding-top: 40px;
}
@media (max-width: 1199px) {
  /* line 191, ../dwsass/dw.scss */
  #headerdw {
    height: 600px;
  }
}
@media (max-width: 991px) {
  /* line 191, ../dwsass/dw.scss */
  #headerdw {
    position: inherit;
    top: 0;
    height: 600px;
  }
}
@media (max-width: 767px) {
  /* line 191, ../dwsass/dw.scss */
  #headerdw {
    height: 240px;
  }
}
/* line 214, ../dwsass/dw.scss */
#headerdw .logo {
  margin-bottom: 20px;
}
/* line 217, ../dwsass/dw.scss */
#headerdw .headernav {
  font-size: 12px;
}
/* line 220, ../dwsass/dw.scss */
#headerdw .headernav .navelements ul {
  list-style: none;
  margin-left: -45px;
}
/* line 224, ../dwsass/dw.scss */
#headerdw .headernav .navelements li {
  margin-left: 10px;
  font-size: 14px;
  text-transform: uppercase;
  display: inline;
}
/* line 231, ../dwsass/dw.scss */
#headerdw .headernav .navelements li > a {
  color: white !important;
  border: 1px solid #403E4C;
  padding: 10px 15px 10px 15px;
  moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  -khtml-border-radius: 5px;
  /* for old Konqueror browsers */
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
/* line 241, ../dwsass/dw.scss */
#headerdw .headernav .navelements li > a:hover, #headerdw .headernav .navelements li > a:focus {
  color: white !important;
  text-decoration: none;
  background-color: #403E4C!important;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
/* line 254, ../dwsass/dw.scss */
#headerdw .showcasedp {
  position: relative;
  margin-top: 40px;
}
@media (max-width: 767px) {
  /* line 254, ../dwsass/dw.scss */
  #headerdw .showcasedp {
    display: none;
  }
}
/* line 261, ../dwsass/dw.scss */
#headerdw .firstshow {
  bottom: 400px;
  left: 30px;
  position: absolute;
  z-index: 100;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
@media (max-width: 1199px) {
  /* line 261, ../dwsass/dw.scss */
  #headerdw .firstshow {
    bottom: 400px;
    left: 0;
    top: 20px;
  }
}
/* line 275, ../dwsass/dw.scss */
#headerdw .secondshow {
  left: 250px;
  position: relative;
  top: 20px;
  z-index: 200;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
@media (max-width: 1199px) {
  /* line 275, ../dwsass/dw.scss */
  #headerdw .secondshow {
    bottom: 400px;
    left: 150px;
    top: 60px;
  }
}
@media (max-width: 991px) {
  /* line 275, ../dwsass/dw.scss */
  #headerdw .secondshow {
    bottom: 400px;
    left: 50px;
    top: 60px;
  }
}
/* line 292, ../dwsass/dw.scss */
#headerdw .thirdshow {
  bottom: 350px;
  left: 500px;
  position: relative;
  z-index: 300;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
@media (max-width: 1199px) {
  /* line 292, ../dwsass/dw.scss */
  #headerdw .thirdshow {
    bottom: 350px;
    left: 330px;
    margin-top: 40px;
  }
}
@media (max-width: 991px) {
  /* line 292, ../dwsass/dw.scss */
  #headerdw .thirdshow {
    bottom: 400px;
    left: 110px;
    margin-top: 100px;
  }
}

/* line 313, ../dwsass/dw.scss */
.lolapp {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* line 324, ../dwsass/dw.scss */
#intro {
  height: 60px;
  background: #1c1721;
  color: #282730;
  position: relative;
  z-index: 1000;
}
/* line 332, ../dwsass/dw.scss */
#intro h2 {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 991px) {
  /* line 324, ../dwsass/dw.scss */
  #intro {
    top: 0;
  }
}

/* line 347, ../dwsass/dw.scss */
#skills {
  background: #23212f;
  height: 405px;
  overflow: hidden;
  position: relative;
  z-index: 1000;
}
/* line 355, ../dwsass/dw.scss */
#skills .dwintro {
  color: white;
  margin-top: 65px;
  font-family: Arial, serif;
  font-size: 12px;
  position: relative;
  z-index: 1000;
  margin-bottom: 30px;
  border-left: 4px solid #f67004;
  background: #2f2c3d;
}
@media (max-width: 1199px) {
  /* line 355, ../dwsass/dw.scss */
  #skills .dwintro {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  /* line 355, ../dwsass/dw.scss */
  #skills .dwintro {
    margin-bottom: 30px;
    margin-top: 25px;
  }
}
/* line 371, ../dwsass/dw.scss */
#skills .dwintro p {
  padding: 10px;
  font-size: 24px;
}
/* line 375, ../dwsass/dw.scss */
#skills .dwintro .ux {
  background: #00a0dc;
  padding: 0 5px 0 5px;
}
/* line 378, ../dwsass/dw.scss */
#skills .dwintro .ui {
  background: #9132f3;
  padding: 0 5px 0 5px;
}
/* line 381, ../dwsass/dw.scss */
#skills .dwintro .wordpress {
  background: #1e67fc;
  padding: 0 5px 0 5px;
}
/* line 384, ../dwsass/dw.scss */
#skills .dwintro .lol {
  background: #f21a57;
  padding: 0 5px 0 5px;
}
/* line 389, ../dwsass/dw.scss */
#skills .heart {
  background: url("../img/heart.png") no-repeat;
  height: 35px;
  width: 35px;
  text-indent: -9999px;
  padding: 5px 20px 20px;
}
/* line 396, ../dwsass/dw.scss */
#skills h2 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 403, ../dwsass/dw.scss */
#skills h3 {
  color: white;
  text-align: center;
  font-size: 20px!important;
  text-transform: uppercase!important;
  margin-bottom: 30px;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
/* line 415, ../dwsass/dw.scss */
#skills .photoshop {
  border: 4px solid #58365b;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
/* line 78, ../dwsass/dw.scss */
#skills .photoshop p {
  color: #58365b;
}
/* line 419, ../dwsass/dw.scss */
#skills .fireworks {
  border: 4px solid #823e77;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
/* line 78, ../dwsass/dw.scss */
#skills .fireworks p {
  color: #823e77;
}
/* line 423, ../dwsass/dw.scss */
#skills .html {
  border: 4px solid #3b5dbf;
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
/* line 78, ../dwsass/dw.scss */
#skills .html p {
  color: #3b5dbf;
}
/* line 427, ../dwsass/dw.scss */
#skills .sass {
  border: 4px solid #3b4986;
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
}
/* line 78, ../dwsass/dw.scss */
#skills .sass p {
  color: #3b4986;
}
/* line 431, ../dwsass/dw.scss */
#skills .css {
  border: 4px solid #4b2c4e;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}
/* line 78, ../dwsass/dw.scss */
#skills .css p {
  color: #4b2c4e;
}
/* line 435, ../dwsass/dw.scss */
#skills .jquery {
  border: 4px solid #673c6b;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}
/* line 78, ../dwsass/dw.scss */
#skills .jquery p {
  color: #673c6b;
}
/* line 439, ../dwsass/dw.scss */
#skills .bootstrap {
  border: 4px solid #47579b;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
/* line 78, ../dwsass/dw.scss */
#skills .bootstrap p {
  color: #47579b;
}
/* line 443, ../dwsass/dw.scss */
#skills .statcircle {
  border-radius: 50%;
  color: #FFFFFF;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  height: 120px;
  text-align: center;
  width: 115px;
  margin: 10px 0 10px 0;
}
/* line 453, ../dwsass/dw.scss */
#skills .statcircle p {
  font-size: 14px;
  font-weight: bold;
  margin: 44px 0 0;
  text-transform: uppercase!important;
}
@media (max-width: 991px) {
  /* line 347, ../dwsass/dw.scss */
  #skills {
    top: 0;
    height: 360px;
  }
}
@media (max-width: 767px) {
  /* line 347, ../dwsass/dw.scss */
  #skills {
    height: inherit;
  }
}

/* line 475, ../dwsass/dw.scss */
.klzecom {
  height: 440px!important;
}
@media (max-width: 1199px) {
  /* line 475, ../dwsass/dw.scss */
  .klzecom {
    height: 420px!important;
  }
}
@media (max-width: 991px) {
  /* line 475, ../dwsass/dw.scss */
  .klzecom {
    height: 490px!important;
  }
}
@media (max-width: 767px) {
  /* line 475, ../dwsass/dw.scss */
  .klzecom {
    height: inherit!important;
  }
}

/* line 489, ../dwsass/dw.scss */
.klzreg {
  height: 440px!important;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 489, ../dwsass/dw.scss */
  .klzreg {
    height: 470px!important;
  }
}
@media (max-width: 1199px) {
  /* line 489, ../dwsass/dw.scss */
  .klzreg {
    height: 450px!important;
  }
}
@media (max-width: 991px) {
  /* line 489, ../dwsass/dw.scss */
  .klzreg {
    height: 490px!important;
  }
}
@media (max-width: 767px) {
  /* line 489, ../dwsass/dw.scss */
  .klzreg {
    height: inherit!important;
  }
}

/* line 506, ../dwsass/dw.scss */
.suts {
  height: 440px!important;
}
@media (max-width: 1199px) {
  /* line 506, ../dwsass/dw.scss */
  .suts {
    height: 420px!important;
  }
}
@media (max-width: 991px) {
  /* line 506, ../dwsass/dw.scss */
  .suts {
    height: 490px!important;
  }
}
@media (max-width: 767px) {
  /* line 506, ../dwsass/dw.scss */
  .suts {
    height: inherit!important;
  }
}

/* line 520, ../dwsass/dw.scss */
.lolproject {
  height: 440px!important;
}
@media (max-width: 1199px) {
  /* line 520, ../dwsass/dw.scss */
  .lolproject {
    height: 420px!important;
  }
}
@media (max-width: 991px) {
  /* line 520, ../dwsass/dw.scss */
  .lolproject {
    height: 490px!important;
  }
}
@media (max-width: 767px) {
  /* line 520, ../dwsass/dw.scss */
  .lolproject {
    height: inherit!important;
  }
}

/* line 534, ../dwsass/dw.scss */
.klzregnew {
  height: 440px!important;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 534, ../dwsass/dw.scss */
  .klzregnew {
    height: 473px!important;
  }
}
@media (max-width: 1199px) {
  /* line 534, ../dwsass/dw.scss */
  .klzregnew {
    height: 450px!important;
  }
}
@media (max-width: 991px) {
  /* line 534, ../dwsass/dw.scss */
  .klzregnew {
    height: 520px!important;
  }
}
@media (max-width: 767px) {
  /* line 534, ../dwsass/dw.scss */
  .klzregnew {
    height: inherit!important;
  }
}

/* line 552, ../dwsass/dw.scss */
.findelproject {
  height: 505px!important;
}
@media (max-width: 1199px) {
  /* line 552, ../dwsass/dw.scss */
  .findelproject {
    height: 485px!important;
  }
}
@media (max-width: 991px) {
  /* line 552, ../dwsass/dw.scss */
  .findelproject {
    height: 550px!important;
  }
}
@media (max-width: 767px) {
  /* line 552, ../dwsass/dw.scss */
  .findelproject {
    height: inherit!important;
  }
}

/* line 570, ../dwsass/dw.scss */
#latestprojects {
  background: url("../img/latestprojects.jpg") repeat;
  position: relative;
  z-index: 1000;
}
@media (max-width: 991px) {
  /* line 570, ../dwsass/dw.scss */
  #latestprojects {
    top: 0;
  }
}
/* line 580, ../dwsass/dw.scss */
#latestprojects .previewportfolio {
  border: 4px solid #312E40;
  margin-bottom: 15px;
}
/* line 583, ../dwsass/dw.scss */
#latestprojects .previewportfolio img {
  width: 100%!important;
}
/* line 588, ../dwsass/dw.scss */
#latestprojects .projectintro {
  background: #27212d;
  border-left: 4px solid #F67004;
  color: white;
  font-size: 18px;
  margin: 20px 0 20px 0;
}
/* line 594, ../dwsass/dw.scss */
#latestprojects .projectintro p {
  padding: 10px;
}
/* line 597, ../dwsass/dw.scss */
#latestprojects .projectintro ul {
  padding-bottom: 10px;
}
/* line 601, ../dwsass/dw.scss */
#latestprojects .project {
  margin: 10px 0 0 0;
}
/* line 603, ../dwsass/dw.scss */
#latestprojects .project img {
  border: 4px solid #2A273A;
  max-width: 100%;
}
@media (max-width: 767px) {
  /* line 603, ../dwsass/dw.scss */
  #latestprojects .project img {
    width: 100%;
  }
}
/* line 611, ../dwsass/dw.scss */
#latestprojects .projectone {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}
/* line 614, ../dwsass/dw.scss */
#latestprojects .projecttwo {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
  animation-delay: 5.5s;
}
/* line 617, ../dwsass/dw.scss */
#latestprojects .projectthree {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}
/* line 620, ../dwsass/dw.scss */
#latestprojects .projectfour {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
/* line 623, ../dwsass/dw.scss */
#latestprojects .projectfive {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 626, ../dwsass/dw.scss */
#latestprojects .projectsix {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
/* line 629, ../dwsass/dw.scss */
#latestprojects .view {
  cursor: default;
  float: left;
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
/* line 638, ../dwsass/dw.scss */
#latestprojects .view .mask, #latestprojects .view .content {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 645, ../dwsass/dw.scss */
#latestprojects .view img {
  display: block;
  position: relative;
}
/* line 649, ../dwsass/dw.scss */
#latestprojects .view h2 {
  background-color: rgba(246, 112, 4, 0.8);
  color: #FFFFFF;
  font-size: 17px;
  margin: 20px 0 20px 0;
  padding: 10px;
  position: relative;
  text-align: center;
}
/* line 659, ../dwsass/dw.scss */
#latestprojects .view p {
  color: #FFFFFF;
  font-family: Georgia,serif;
  font-size: 12px;
  font-style: italic;
  padding: 10px 20px 20px;
  position: relative;
  text-align: left;
}
/* line 668, ../dwsass/dw.scss */
#latestprojects .view a.info {
  background: none repeat scroll 0 0 #332f46;
  color: #FFFFFF;
  display: inline-block;
  margin-top: 30%;
  padding: 7px 14px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 682, ../dwsass/dw.scss */
#latestprojects .view-first:hover .mask {
  opacity: 1;
}
/* line 687, ../dwsass/dw.scss */
#latestprojects .view-first:hover h2, #latestprojects .view-first:hover p, #latestprojects .view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}
/* line 691, ../dwsass/dw.scss */
#latestprojects .view-first:hover p {
  transition-delay: 0.1s;
}
/* line 694, ../dwsass/dw.scss */
#latestprojects .view-first:hover a.info {
  transition-delay: 0.2s;
}
/* line 697, ../dwsass/dw.scss */
#latestprojects .view-first img {
  transition: all 0.2s linear 0s;
}
/* line 700, ../dwsass/dw.scss */
#latestprojects .view-first .mask {
  background-color: rgba(51, 47, 70, 0.4);
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}
/* line 705, ../dwsass/dw.scss */
#latestprojects .view-first h2 {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.2s ease-in-out 0s;
}
/* line 710, ../dwsass/dw.scss */
#latestprojects .view-first p {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.2s linear 0s;
}
/* line 715, ../dwsass/dw.scss */
#latestprojects .view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out 0s;
}

/* line 728, ../dwsass/dw.scss */
#leaguestats {
  background: #262626;
  position: relative;
  top: 600px;
  z-index: 1000;
  background: url(../img/lolbgstats.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 739, ../dwsass/dw.scss */
#leaguestats .statcircle {
  border-radius: 50%;
  color: #FFFFFF;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  height: 120px;
  text-align: center;
  width: 115px;
  margin: 10px 0 10px 0;
}
/* line 750, ../dwsass/dw.scss */
#leaguestats .statcircle p {
  font-size: 14px;
  font-weight: bold;
  margin: 46px 0 0;
  text-transform: uppercase!important;
}
/* line 757, ../dwsass/dw.scss */
#leaguestats .stattitle {
  color: white;
  font-weight: bold;
}
/* line 762, ../dwsass/dw.scss */
#leaguestats .leaguecircle {
  border: 4px solid #f67004;
}
/* line 78, ../dwsass/dw.scss */
#leaguestats .leaguecircle p {
  color: #f67004;
}
/* line 765, ../dwsass/dw.scss */
#leaguestats h2 {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
/* line 772, ../dwsass/dw.scss */
#leaguestats p {
  color: white;
  text-align: center;
}
/* line 777, ../dwsass/dw.scss */
#leaguestats .fallingmoonstats ul {
  display: inline-block;
  list-style: none outside none;
  margin: 15px -16px 0 -5px;
  text-align: center;
}

/* line 792, ../dwsass/dw.scss */
.featuredprojectlol {
  margin-top: 40px;
  overflow: hidden;
  color: white;
}
@media (max-width: 1199px) {
  /* line 792, ../dwsass/dw.scss */
  .featuredprojectlol {
    height: 440px;
  }
}
@media (max-width: 991px) {
  /* line 792, ../dwsass/dw.scss */
  .featuredprojectlol {
    height: 410px;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  /* line 792, ../dwsass/dw.scss */
  .featuredprojectlol {
    display: none;
  }
}
/* line 816, ../dwsass/dw.scss */
.featuredprojectlol .features .featuredproject {
  position: relative;
  top: 352px;
  left: 280px;
  z-index: 999;
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
  max-width: 100%;
}
@media (max-width: 1199px) {
  /* line 816, ../dwsass/dw.scss */
  .featuredprojectlol .features .featuredproject {
    top: 355px;
    left: 300px;
    -webkit-animation-delay: 4.5s;
    -moz-animation-delay: 4.5s;
    animation-delay: 4.5s;
  }
}
@media (max-width: 991px) {
  /* line 816, ../dwsass/dw.scss */
  .featuredprojectlol .features .featuredproject {
    top: 290px;
    left: 210px;
    -webkit-animation-delay: 4.5s;
    -moz-animation-delay: 4.5s;
    animation-delay: 4.5s;
  }
}
/* line 835, ../dwsass/dw.scss */
.featuredprojectlol .features .featureone {
  position: relative;
  top: 15px;
  left: 100px;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
  background: url("../img/featureone.png") no-repeat;
  z-index: 999;
  height: 125px;
  width: 127px;
  visibility: visible;
}
@media (max-width: 1199px) {
  /* line 835, ../dwsass/dw.scss */
  .featuredprojectlol .features .featureone {
    left: 0;
    top: 10px;
  }
}
@media (max-width: 991px) {
  /* line 835, ../dwsass/dw.scss */
  .featuredprojectlol .features .featureone {
    left: 0;
    top: 10px;
  }
}
@media (max-width: 767px) {
  /* line 835, ../dwsass/dw.scss */
  .featuredprojectlol .features .featureone {
    display: none;
  }
}
/* line 855, ../dwsass/dw.scss */
.featuredprojectlol .features .featuretwo {
  position: relative;
  top: 20px;
  right: 60px;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
  background: url("../img/featuretwo.png") no-repeat;
  z-index: 999;
  height: 125px;
  width: 127px;
  visibility: visible;
}
@media (max-width: 1199px) {
  /* line 855, ../dwsass/dw.scss */
  .featuredprojectlol .features .featuretwo {
    right: 90px;
    top: 30px;
  }
}
@media (max-width: 767px) {
  /* line 855, ../dwsass/dw.scss */
  .featuredprojectlol .features .featuretwo {
    display: none;
  }
}
/* line 871, ../dwsass/dw.scss */
.featuredprojectlol .features .featurethree {
  position: relative;
  top: 90px;
  left: 100px;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
  background: url("../img/featurethree.png") no-repeat;
  z-index: 999;
  height: 125px;
  width: 127px;
  visibility: visible;
}
@media (max-width: 1199px) {
  /* line 871, ../dwsass/dw.scss */
  .featuredprojectlol .features .featurethree {
    left: 10px;
    top: 80px;
  }
}
@media (max-width: 991px) {
  /* line 871, ../dwsass/dw.scss */
  .featuredprojectlol .features .featurethree {
    left: 10px;
    top: 80px;
  }
}
@media (max-width: 767px) {
  /* line 871, ../dwsass/dw.scss */
  .featuredprojectlol .features .featurethree {
    display: none;
  }
}
/* line 891, ../dwsass/dw.scss */
.featuredprojectlol .features .featurefour {
  position: relative;
  top: 95px;
  right: 110px;
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
  background: url("../img/featurefour.png") no-repeat;
  z-index: 999;
  height: 125px;
  width: 127px;
  visibility: visible;
}
@media (max-width: 767px) {
  /* line 891, ../dwsass/dw.scss */
  .featuredprojectlol .features .featurefour {
    display: none;
  }
}
/* line 907, ../dwsass/dw.scss */
.featuredprojectlol .features .btn-project {
  color: #f67004;
  background-color: #f67004;
  border-color: #f67004;
  border-bottom: 4px solid #e66700;
  border-radius: inherit!important;
  color: white;
  width: 190px;
  height: 40px;
  font-size: 18px;
  text-transform: uppercase;
}
/* line 94, ../dwsass/dw.scss */
.featuredprojectlol .features .btn-project:hover, .featuredprojectlol .features .btn-project:focus, .featuredprojectlol .features .btn-project:active, .featuredprojectlol .features .btn-project.active, .open .featuredprojectlol .features .btn-project.dropdown-toggle {
  color: #f67004;
  background-color: #ce5e03;
  border-color: #ba5503;
}
/* line 101, ../dwsass/dw.scss */
.featuredprojectlol .features .btn-project:active, .featuredprojectlol .features .btn-project.active, .open .featuredprojectlol .features .btn-project.dropdown-toggle {
  background-image: none;
}
/* line 111, ../dwsass/dw.scss */
.featuredprojectlol .features .btn-project.disabled, .featuredprojectlol .features .btn-project.disabled:hover, .featuredprojectlol .features .btn-project.disabled:focus, .featuredprojectlol .features .btn-project.disabled:active, .featuredprojectlol .features .btn-project.disabled.active, .featuredprojectlol .features .btn-project[disabled], .featuredprojectlol .features .btn-project[disabled]:hover, .featuredprojectlol .features .btn-project[disabled]:focus, .featuredprojectlol .features .btn-project[disabled]:active, .featuredprojectlol .features .btn-project[disabled].active, fieldset[disabled] .featuredprojectlol .features .btn-project, fieldset[disabled] .featuredprojectlol .features .btn-project:hover, fieldset[disabled] .featuredprojectlol .features .btn-project:focus, fieldset[disabled] .featuredprojectlol .features .btn-project:active, fieldset[disabled] .featuredprojectlol .features .btn-project.active {
  background-color: #f67004;
  border-color: #f67004;
}
/* line 919, ../dwsass/dw.scss */
.featuredprojectlol .features .btn-project:hover, .featuredprojectlol .features .btn-project:focus, .featuredprojectlol .features .btn-project:active, .featuredprojectlol .features .btn-project.active {
  background-color: #e66700;
  border-color: #e66700;
  color: white !important;
}
/* line 927, ../dwsass/dw.scss */
.featuredprojectlol .latestproject {
  color: white;
  background: #403e4c;
  border-left: 4px solid #f21a57;
}
@media (max-width: 1199px) {
  /* line 927, ../dwsass/dw.scss */
  .featuredprojectlol .latestproject {
    display: none;
  }
}
/* line 934, ../dwsass/dw.scss */
.featuredprojectlol .latestproject p {
  text-align: left;
  font-size: 18px;
  padding: 10px;
}

/* line 941, ../dwsass/dw.scss */
.maincontent {
  margin-top: 30px;
}

/* line 949, ../dwsass/dw.scss */
#footer {
  background: #201a25;
  position: relative;
  z-index: 1000;
}
@media (max-width: 991px) {
  /* line 949, ../dwsass/dw.scss */
  #footer {
    top: 0;
  }
}
@media (max-width: 767px) {
  /* line 949, ../dwsass/dw.scss */
  #footer {
    top: 0;
  }
}
/* line 963, ../dwsass/dw.scss */
#footer p {
  text-align: right;
  color: white;
  margin-top: 15px;
  font-size: 11px;
}
