//footer

#footer {
	background: #312e40;
	//experimental
	position: relative;
	//top: 600px;
	z-index: 1000;
		@media #{$tabletless} {
		}
		@media #{$smalltabletless} {
			top: 0;
		}
		@media #{$mobileless} {
			top: 0;
		}
		p {
			text-align: right;
			color: $white;
			margin-top: 15px;
			font-size: 11px;
		}
}

//footer ends