//header 

section {
    max-width: 100%;
    width: 100%;
}

#headerdw {
    -moz-box-sizing: border-box;
    background: url('../img/escheresque_ste.png') repeat; 
    color: $white;
    font-size: 24px;
    font-weight: 400;
    height: 600px;
    overflow: hidden;
    padding-top: 40px;
	//border-bottom: 1px solid $fixednavborder;
	//experimental
	//position: fixed;
	@media #{$tabletless} {
		height: 600px;
	}
	@media #{$smalltabletless} {
		position: inherit;
		top: 0;
		height: 600px;
	}
	@media #{$mobileless} {
		height: 300px;	
	}
	.logo {
		margin-bottom: 20px;
	}
	.headernav {
		font-size: 12px;
		.navelements {
			ul {
				list-style: none;
				margin-left: -45px;
			}
			li {
				
				margin-left: 10px;
				font-size: 14px;
				text-transform: uppercase;
				display: inline;
				
				> a {
				  color: $white!important;
				  border: 1px solid #403E4C;
				  padding: 10px 15px 10px 15px;
				  @include borderradius(5px);
						-webkit-transition: 0.5s ease-in;
						-moz-transition: 0.5s ease-in;
						-o-transition: 0.5s ease-in;
						transition: 0.5s ease-in;
					  &:hover,
					  &:focus {
						color: $white!important;
						text-decoration: none;
						background-color: #403E4C!important;
						-webkit-transition: background-color 1s ease-out;
						-moz-transition: background-color 1s ease-out;
						-o-transition: background-color 1s ease-out;
						transition: background-color 1s ease-out;
					  }
					}	
				}
			}
		}	
	.showcasedp {
		position: relative;
		margin-top: 40px;
			@media #{$mobileless} {
				display: none;	
			}
	}
		.firstshow {
			bottom: 400px;
			left: 30px;
			position: absolute;
			z-index: 100;
			@include animate(0.5s);
				@media #{$tabletless} {
					bottom: 400px;
					left: 0;
					top: 20px;
				}
				@media #{$smalltabletless} {
				}
		}
		.secondshow {
			left: 250px;
			position: relative;
			top: 20px;
			z-index: 200;
			@include animate(1.0s);
				@media #{$tabletless} {
					bottom: 400px;
					left: 150px;
					top: 60px;
				}
				@media #{$smalltabletless} {
					bottom: 400px;
					left: 50px;
					top: 60px;
				}
		}
		.thirdshow {
		    bottom: 350px;
			left: 500px;
			position: relative;
			z-index: 300;
			@include animate(1.5s);
				@media #{$tabletless} {
					bottom: 350px;
					left: 330px;
					//top: 100px;
					margin-top: 40px;
				}
				@media #{$smalltabletless} {
					bottom: 400px;
					left: 110px;
					margin-top: 100px;
				}
		}
	
	}
	
	.lolapp {
		display: block;
		margin: $centreelements;
		max-width: 100%;
		//margin-top: -30px;
	}	
	
//header ends