// DW SCSS v1.0

//_mixin 

@mixin fontbody {
	font-family: Arial, serif;
	font-size: 12px;
}

@mixin borderradius($radiusborder) {
	moz-border-radius: $radiusborder;
	-webkit-border-radius: $radiusborder;
	border-radius: $radiusborder; /* future proofing */
	-khtml-border-radius: $radiusborder; /* for old Konqueror browsers */
}	

@mixin myskills($skill) {
	background: $skill;
	padding: 0 5px 0 5px;	
}

@mixin projectfeatures {
	height: 125px;
	width: 127px;
	visibility: visible;
}

@mixin animate($delayanimation) {
	-webkit-animation-delay: $delayanimation;
	-moz-animation-delay: $delayanimation; 
	animation-delay: $delayanimation;
}

@mixin skillset($skillname) {
	background: $skillname;
}

//button mixins

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 8%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border
    }
  }
}

//_mixin ends 