//_main styles

body {
	background: $bodybg repeat;
}

img {
	max-width: 100%;
}

//_main styles end

//_nav starts

.navbar-default {
    background-color: $bgsecondary;
    border-bottom: 2px solid $fixednavborder;
}

 .navbar-nav {
    > li > a {
      color: $white!important;

      &:hover,
      &:focus {
        color: $white!important;
        background-color: #19181e!important;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $white!important;
        background-color: $fixednavborder!important;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $white!important;
        background-color: $fixednavborder!important;
      }
    }
  }
  
  .navbar-toggle {
		border: inherit;
		&:hover,
		&:focus {
        background-color: inherit!important;
      }
  }
  
  .navbar-default
	.navbar-collapse, 
	.navbar-default 
	.navbar-form {
		border-color: inherit!important;
	}

//_nav ends