//skills

#skills {
	background: #23212f;
	height: 405px;
	overflow: hidden;
	//experimental
	position: relative;
	//top: 600px;
	z-index: 1000;
		.dwintro {
			color: $white;
			margin-top: 65px;
			@include fontbody;
			position: relative;
			z-index: 1000;
			margin-bottom: 30px;
			border-left: 4px solid $bordermain;
			background: $bgmain;
				@media #{$tabletless} {
					margin-bottom: 0;
				}
				@media #{$mobileless} {
					margin-bottom: 30px;
				}
				p {
					padding: 10px;
					font-size: 24px;
				}
				.ux {
					@include myskills($ux)
				}
				.ui {
					@include myskills($ui)
				}
				.wordpress {
					@include myskills($wordpress)
				}
				.lol {
					@include myskills($lol)
				}
		}

	.heart {
		background: url('../img/heart.png') no-repeat;
		height: 35px;
		width: 35px;
		text-indent: -9999px;
		padding: 5px 20px 20px;
	}
	h2 {
		color: $white;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		text-transform: uppercase;
	}
	h3 {
		color: $white;
		text-align: center;
		font-size: 20px!important;
		text-transform: uppercase!important;
		margin-bottom: 30px;
		@include animate(0.5s);
		
	}
	.skillstools {
		//margin: 10px 0 20px 40px;
	}
		.photoshop {
			@include skillset($photoshop);
			@include animate(1.5s);
		}
		.fireworks {
			@include skillset($fireworks);
			@include animate(2.5s);
		}
		.html {
			@include skillset($html);
			@include animate(3.5s);
		}
		.sass {
			@include skillset($sass);
			@include animate(4.5s);
		}
		.css {
			@include skillset($css);
			@include animate(4.0s);
		}
		.jquery {
			@include skillset($jquery);
			@include animate(3.0s);
		}
		.bootstrap {
			@include skillset($bootstrap);
			@include animate(2.0s);
		}
	.statcircle {
		border-radius: 50%;
		color: #FFFFFF;
		display: inline-block;
		font-size: 22px;
		font-weight: bold;
		height: 120px;
		text-align: center;
		width: 115px;
		margin: 10px 0 10px 0;
			p {
				font-size: 14px;
				font-weight: bold;
				margin: 46px 0 0;
				text-transform: uppercase!important;
			}
		}
		.firstrowskills {
			
		}
		@media #{$smalltabletless} {
			top: 0;
			height: 360px;
		}
		@media #{$mobileless} {
			height: inherit;	
		}
	}
	
//_subprojects


.klzecom {
height: 440px!important;
	@media #{$tabletless} {
			height: 420px!important;
		}
		@media #{$smalltabletless} {
			height: 490px!important;
			
		}
		@media #{$mobileless} {
			height: inherit!important;
		}
}

.klzreg {
height: 440px!important;
@media screen and (-webkit-min-device-pixel-ratio:0) { 
height: 470px!important;
}
	@media #{$tabletless} {
			height: 450px!important;
		}
		@media #{$smalltabletless} {
			height: 490px!important;
			
		}
		@media #{$mobileless} {
			height: inherit!important;
		}
}

.suts {
height: 440px!important;
	@media #{$tabletless} {
			height: 420px!important;
		}
		@media #{$smalltabletless} {
			height: 490px!important;
			
		}
		@media #{$mobileless} {
			height: inherit!important;
		}
}

.lolproject {
height: 440px!important;
	@media #{$tabletless} {
			height: 420px!important;
		}
		@media #{$smalltabletless} {
			height: 490px!important;
			
		}
		@media #{$mobileless} {
			height: inherit!important;
		}
}

.klzregnew {
height: 440px!important;
@media screen and (-webkit-min-device-pixel-ratio:0) { 
height: 473px!important;
}

	@media #{$tabletless} {
			height: 450px!important;
		}
		@media #{$smalltabletless} {
			height: 520px!important;
			
		}
		@media #{$mobileless} {
			height: inherit!important;
		}
}

.findelproject {
height: 505px!important;
	@media #{$tabletless} {
			height: 485px!important;
		}
		@media #{$smalltabletless} {
			height: 550px!important;
			
		}
		@media #{$mobileless} {
			height: inherit!important;
		}
}


//skills end