// DW SCSS v1.0

//_var

$bodybg: #403e4c;
$white: #ffffff;
$scrollingnavfix: 50px;
$bordermain: #f67004;
$bgmain: #403e4c;
$bgsecondary: darken($bgmain, 10%);
$fixednavborder: darken($bgmain, 20%);
$ux: #00a0dc;
$ui: #9132f3;
$wordpress: #1e67fc;
$lol: #f21a57;
$centreelements: 0 auto;
$zindexdefault: 999;

//skills colors

$photoshop: #58365b;
$fireworks: #823e77;
$html: #3b5dbf;
$sass: #3b4986;
$css: #4b2c4e;
$jquery: #673c6b;
$bootstrap: #47579b;

$lolcircle: #F67004;

//breakpoints

$tabletless: "(max-width: 1199px)";
$smalltabletless: "(max-width: 991px)";
$mobileless: "(max-width: 767px)";

//btn variables

$projectbrder: #e66700;

//_var ends